:root {
  --cor-b1: #F2F2F2;
  --cor-b2: #E0E0E0;
  --cor-b3: #C4C4C4;
  --cor-b4: #A8A8A8;
  --cor-b5: #8C8C8C;
  --cor-b6: #707070;
  --cor-b7: #545454;
  --cor-b8: #383838;
  --cor-b9: #1C1C1C;
  --cor-p1: #FA5050;
  --cor-p2: #F24141;
  --cor-p3: #E32B2B;
  --cor-p4: #D62020;
  --cor-p5: #C91212;
  --cor-p6: #BF0A0A;
  --cor-p7: #B30202;
  --cor-p8: #990000;
  --cor-p9: #660000; 
  --espaco-004: 0.25rem;
  --espaco-008: 0.5rem;
  --espaco-012: 0.75rem;
  --espaco-016: 1rem;
  --espaco-020: 1.25rem;
  --espaco-024: 1.5rem;
  --espaco-032: 2rem;
  --espaco-036: 2.25rem;
  --espaco-040: 2.5rem;
  --espaco-048: 3rem;
  --espaco-060: 3.75rem;
  --espaco-072: 4.5rem;
  --espaco-080: 5rem;
  --espaco-120: 7.5rem;
  --espaco-160: 10rem;
  --font-016: 1rem;
  --padding-008-016: 0.5rem 1rem;
  --padding-008: 0.5rem;
  --padding-012: 0.75rem;
  --padding-016: 1rem;
  --padding-020: 1.25rem;
  --padding-032: 2rem;
  --padding-040: 2.5rem;
  --padding-080: 5rem;
  --padding-120: 7.5rem;
  --padding-160: 10rem;
  --height-120: 7.5rem;
  --height-160: 10rem;
  --radius-002: 0.125rem;
  --radius-004: 0.5rem;
}

body, h1, h2, p, ul {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body p {
  color: var(--cor-b7);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-size: var(--font-016);
  padding: var(--padding-008-016);
  border-radius: var(--radius-002);
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: var(--cor-b3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-b8);
  border-radius: var(--radius-004);
  border: 3px solid var(--cor-p1);
}